<aside class="sidebar">
    <div class="profile">
        <center>
            <img src="/assets/portrait.jpg" />
            <h2>{{ site.author }}</h2>
            <div class="social-icons">
                <a class="fab fa-github" href="https://github.com/{{ site.github_username| cgi_escape | escape }}"></a>
                <a class="fab fa-twitter"
                    href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"></a>
            </div>
        </center>
    </div>
    <nav class="nav">
        <ul>
            <li><a href="{{ "/#top" | relative_url }}">Home</a></li>
            <li><a href="{{ "/#about" | relative_url }}">About</a></li>
            <li><a href="{{ "/#experience" | relative_url }}">Experience</a></li>
            <li><a href="{{ "/#blog" | relative_url }}">Blog</a></li>
        </ul>
    </nav>
</aside>