.sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    background: #312450;
    font-size: 0.65em;
}

.profile h2 {
    color: white;
    font-size: 2.5vmax;
    margin: 0;
}

.profile img {
    max-width: 100%;
    max-height: 250px;
    clip-path: circle(45% at center);
}

.social-icons {
    font-size: 2vmax;
    
    a {
        color: white;
        padding: 5px;
        text-decoration: none;
    }
}

.nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    font-weight: bold;
}

.nav ul {
    list-style: none;

    li {
        position: relative;
        margin: 3.2em 0;
        
        a {
            line-height: 5em;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.4em;
            color: rgba(#FFF, 0.35);
            display: block;
            transition: all ease-out 300ms;
        }
        
        &.active a {
            color: white;
        }
        
        &:not(.active)::after {
            opacity: 0.2;
        }
        
        &:not(.active):hover a {
            color: rgba(#FFF, 0.75);
        }
        
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.2em;
            background: black;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to right, #5e42a6, #b74e91)
        }
    }
}

@include media-query($on-palm) {
    .sidebar {
        width: 100%;
        position: relative;
    }

    .profile h2 {
        font-size: 2.5em;
    }

    .social-icons {
        font-size: 2em;
    }
}
